.Contact {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.ContactInfo {
  height: 20rem;
  width: 50rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ReturnHomeLink {
  font-size: 2rem;
  text-decoration: none;
}
.ContactInfoDiv {
  font-size: 2rem;
  align-self: flex-start;
}
.ButtonsDiv {
  position: absolute;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
}
.Button {
  padding: 1rem;
  font-size: 1.4rem;
}
.UpdateMe {
  position: absolute;
  margin-left: 35rem;
}
