.UserInfo {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.FirstPage {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Heading1 {
  font-size: 10rem;
}
.ListSpan {
  color: blue;
}
.Paragraph {
  font-size: 2rem;
}

.Welcome {
  font-size: 5rem;
  margin-bottom: 10rem;
}
