.NavigationBar {
  width: 100%;
  height: 10vh;
  background-color: rgb(231, 122, 122);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.LoginRegisterDiv {
  font-size: 1.4rem;
}
.NavBarLink {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;

  border: 1px solid white;
}
.NavBarLink:hover {
  color: rgb(231, 122, 122);
  border: none;
  border: 1px solid white;
  background-color: rgb(255, 255, 255);
}
